/** CSS STYLE **/
@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url('../../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: Neucha;
  src: url('../../fonts/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  width: 1440px;
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header, footer, section {
  padding: 100px 165px;
  position: relative;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.clr-primary {
  color: var(--primary);
}

.bg-main::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0.1;
}

.bg-dark {
  background-color: var(--primary-dark);
}

.header-section img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -105px;
  z-index: -100;
}

.col-2 {
  display: flex;
  gap: 30px;
}

.col-2 * {
  flex-basis: 50%;
}

.article {
  margin-top: 185px;
}

.btn-primary {
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--light);
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.txt-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.video-container {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  height: 369px;
  z-index: 100;
}

.navigation {
  margin-top: 126px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-title {
  color: var(--light);
  font-size: 52px;
}

.nav-item {
  flex-basis: 350px;
}

.nav-link {
  background-color: var(--light);
  padding: 24px;
  margin-top: -10px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--dark);
  transition: all 300ms;
}

.nav-link:hover, .nav-link:focus {
   transform: scale(1.05);
   background-color: var(--white);
}

.nav-link:active {
  transform: scale(.99);
}

.nav-link h2 {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
  color: var(--primary-dark);
  transition: all 300ms;
}

.img-shadow {
  box-shadow: 0 16px 32px 0 rgba(0 0 0 / 15%);
}

.bias-description {
  display: flex;
  gap: 30px;
}

.pre-title {
  font-family: Neucha, sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: var(--translucent-dark);
}

.bias-summary {
  font-family: Neucha, sans-serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 40.8px;
  color: var(--dark);
}

.symptom-title {
  margin: 100px 0 20px;
  text-transform: uppercase;
  font-family: OpenSans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0;
  padding-left: 10px;
  line-height: 16.8px;

  background-color: var(--brown);
  color: var(--white);
}
